@import @/styles/variables

.starfieldWrapper
    position: absolute
    top: -5%
    left: 0
    right: 0
    height: 50%
    width: 100%
    overflow: hidden
    z-index: 1

.ellipse
    position: absolute
    top: -30%
    width: 100%
    height: 100%
    z-index: 1
    img
        width: 100%
        height: 100%
        object-fit: contain

.auth
    min-height: 100vh
    background: #E8E8E8
    
    background-size: 32px 32px
    color: white
    padding-top: 48px
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    &:before
        content: ''
        position: absolute
        inset: 0
        background: radial-gradient(circle at 50% 50%, transparent 70%)
        pointer-events: none

.header
    width: 100%
    max-width: 1440px
    display: flex
    flex-direction: column
    align-items: center
    padding: 0 24px
    text-align: center

.logo
    display: flex
    align-items: center
    margin-bottom: 32px

.actions
    position: relative
    display: flex
    z-index: 1
    width: 300px
    padding: 4px
    background: #D4D4D4
    border-radius: 8px
    margin-bottom: 64px
    &:before,
    &:after
        content: ""
        position: absolute
        left: 4px
        width: calc(50% - 4px)
        height: 44px
        border-radius: 4px
        pointer-events: none
        transition: transform .2s
    &:before
        background: #202020
    &:after
        border: 1.5px solid rgba(255, 255, 255, 0.05)
        mask-image: linear-gradient(172deg, black, transparent 50%)
    &[data-state="signup"]
        &:before,
        &:after
            transform: translateX(100%)

.link
    position: relative
    z-index: 2
    display: flex
    justify-content: center
    align-items: center
    height: 44px
    flex: 1
    font-size: 15px
    font-weight: 600
    color: #696969
    transition: color .2s
    text-decoration: none
    &:hover,
    &.active
        color: white

.container
    width: 100%
    max-width: 880px
    margin: 0 auto
    padding: 24px
    justify-content: center
    position: relative
    z-index: 1
    flex: 1
    height: 100%


.form
    width: 100%
    background: #fff
    border-radius: 16px
    padding: 48px
    margin-bottom: 80px
    position: relative
    display: flex
    flex-direction: column
    align-items: center

.field
    width: 100%
    margin-bottom: 32px

.label
    display: block
    margin-bottom: 12px
    color: #000000
    font-size: 14px
    font-weight: 400

.input
    width: 100%
    padding: 18px 20px
    background: transparent
    border: 1px solid #E2E2E2
    border-radius: 10px
    color: #000000
    font-size: 16px
    transition: all 0.3s ease
    &::placeholder
        color: #919191
    &:focus
        background: transparent

.forgotPassword
    display: block
    width: 100%
    text-align: right
    color:#000000
    font-size: 14px
    margin-top: 16px
    margin-bottom: 16px
    text-decoration: none
    transition: opacity 0.3s ease
    position: relative
    z-index: 2
    cursor: pointer
    &:hover
        opacity: 0.8

.button
    width: 100%
    padding: 16px 0
    border: none
    border-radius: 10px
    background: #202020
    color: white
    font-size: 16px
    font-weight: 600
    cursor: pointer
    transition: all 0.3s ease
    position: relative
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    gap: 8px
    min-width: 310px
    &:hover:before
        opacity: 1
    span
        position: relative
        z-index: 1
        white-space: nowrap
    svg
        position: relative
        z-index: 1
        transition: transform 0.3s ease
    &:hover svg
        transform: translateX(4px)
    &.analyzing
        opacity: 0.7
        cursor: wait

.passwordInputContainer
    position: relative
    width: 100%

.passwordToggle
    position: absolute
    right: 12px
    top: 50%
    transform: translateY(-50%)
    background: none
    border: none
    padding: 4px
    cursor: pointer
    color: rgb(255, 255, 255)
    transition: all 0.2s ease
    display: flex
    align-items: center
    justify-content: center

    &:hover
        color: rgba(248, 66, 178, 1)

    svg
        width: 20px
        height: 20px
        stroke: currentColor
        stroke-width: 2
        stroke-linecap: round
        stroke-linejoin: round

.googleButton
    width: 100%
    padding: 14px 0
    border: 1px solid #919191
    border-radius: 8px
    background: #fff
    color: #222
    font-size: 16px
    font-weight: 600
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    gap: 14px
    margin-bottom: 1.5rem
    margin-top: 1.5rem
    transition: box-shadow 0.2s, background 0.2s, color 0.2s
    &:disabled
        opacity: 0.7
        cursor: not-allowed

.googleIcon
    width: 28px
    height: 28px

.divider
    display: flex
    align-items: center
    text-align: center
    margin: 2rem 0 1rem 0
    color: #bbb

    &::before,
    &::after
        content: ''
        flex: 1
        border-bottom: 1px solid #333

    span
        padding: 0 1rem
        font-size: 15px
        color: #888